.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3%;
    border-radius: 15px;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.74);
}

.screen {
    height: 100vh;
    background: rgb(0,170,255);
    background: radial-gradient(circle, rgba(0,170,255,1) 15%, rgba(0,95,255,1) 55%, rgba(0,7,255,1) 100%);
}

.login {
    text-align: center;
    font-weight: bold;
    font-size: 200%;
    font-family: 'Georgia';
}

#large{
    width: 310px;
}

.login-button{
    width: 150px;
    font-size: 110%;
}